@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} */


/* header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} */

.circle{
    background-color: #E5E5E5;
    padding-bottom: 10%;
    padding-left: 5%;
}
#logo{
    position: relative;
    top: -25px;
    height: 104px;
    margin-left: 15%;
}
header{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px 100px;
    width: auto;

}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 500;
    margin-left: 50px;
    text-decoration: none;
}


.green{
    color:#6CB840 ;
    font-weight: 600;
}

.orange{
    color:#EAAB1B ;
}
header .circle{
    padding-bottom: 50px;
}
h1{
    font-weight: 400;
    font-size: 300%;
}
h2{
    font-weight: 500;
}
.circle #order{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #6CB840;
    color: #fff;
    border-radius: 40px;
    font-weight: 600;
    text-decoration: none;
}
/* .eclipse{
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #649549;
    clip-path: circle(50px at top right 80px);
}  */
#eat{
    height: 550px;
    width: 650px;
}
.eating{
    display: flex;
}
.space{
    padding-top: 10%;
    padding-left: 5%;
    text-align: center;
}
#color{
    color: #EAAB1B;;
}
#menu{
    background-color: #E5E5E5;
    padding-left: 5%;
    align-items: flex-start;
}
.center{
    text-align: center;
    padding-top: 1.5%;
}
.card{
    display: flex;
    background-color: white;
    height: 120px;
    width: 300px;
    border-radius: 0px 0px 50px 0px;
}
.burger img{
    position: relative;
    left: -80px;
    top: 15px;
    bottom: -24px;
    height: 150px;
    width: auto;
}
.title{
    font-size: medium;
    font-weight: bold;
    position: absolute;
    transform: translateX(64px);
    padding-left: -2%;
}
.text{
    position: relative;
    text-align: center;
    padding-left: 0%;
    left: -60px;
    /* bottom: -16px;  */
    font-size: 10px;
    font-weight: 600;
    padding-top: 30px;
}
.display{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 480px; 
    margin-left: 110px;
    grid-template-columns: 450px 450px 450px;
}
.deals{
    background-color: #C9ECB5;
}
.hot{
    display: flex;
}
.meat{
    position: relative;
    left: -400px;
    bottom: -220px;
    height: 400px;
}
.juice{
    position: relative;
    top: -130px;
    height: 700px;
}
.special{
    padding-left: 70px;
}