li{
    display: inline;
    margin-right: 100px;
}
ul{
    display: inline;
    margin-right: 15px;
    text-decoration: none;
    padding: 18px;
    color: black;
}
#cont1{
    background-color: #649549;
}